<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    {{> navbar}}

    <div class="banner-container">
        <img src="https://d1htnxwo4o0jhw.cloudfront.net/cert/127292720/357028721.jpg" alt="Left Image" class="banner-image">
        <div class="banner-text">
            <h1>Welcome To GemTCG</h1>
            <h2>Zero Seller Fees On All Sales</h2>
            <a href="/admin/inventory" class="start-selling-button">Start Selling</a>
        </div>
        <img src="https://d1htnxwo4o0jhw.cloudfront.net/cert/139361397/0pGBYXhSc0OTF50t_hBqIw.jpg" alt="Right Image" class="banner-image">
    </div>
    <div class="dashboard-container">
        <div class="inventory-bubble">
            <h2>Inventory Count</h2><hr class="h3-underline">
            <p>Total Inventory: {{inventoryCount}}</p>
            <h2>Total Value</h2><hr class="h3-underline">
            <p>Total Inventory Value: ${{totalValue}}</p>
            <h2>Total Sales</h2><hr class="h3-underline">
            <p>Total Sales Value: ${{totalSales}}</p>
            <h2>Date Created</h2><hr class="h3-underline">
            <p>Account Created On {{formatDate userDateCreated}}</p>
        </div>
        <div class="feedback-table">
            <table>
            <thead>
                <tr>
                <th>Period</th>
                <th style="color: green;">Positive</th>
                <th style="color: grey;">Neutral</th>
                <th style="color: red;">Negative</th>
                </tr>
            </thead>
            <tbody>
                {{#each feedbackStats}}
                <tr>
                    <td>{{@key}}</td>
                    <td>{{this.Positive}}</td>
                    <td>{{this.Neutral}}</td>
                    <td>{{this.Negative}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        </div>
        <div class="inventory-bubble">
            <h3>Seller Help</h3><hr class="h3-underline">
            <div class="help-section">
                <h4>Selling</h4>
                <ul class="help-list">
                    <li><a href="#">How To List Cards</a></li>
                    <li><a href="#">Using Certification Number For Images</a></li>
                </ul>
            </div>
            <div class="help-section">
                <h4>Orders / Shipping</h4>
                <ul class="help-list">
                    <li><a href="#">Managing Orders</a></li>
                    <li><a href="#">Best Shipping Practices</a></li>
                </ul>
            </div>
            <div class="help-section">
                <h4>Payments / Fees</h4>
                <ul class="help-list">
                    <li><a href="#">Payments For Sales</a></li>
                    <li><a href="#">Seller Fees</a></li>
                </ul>
            </div>        
        </div>
        </div>
</body>