<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Feedback</title>
</head>
<body>
    {{> navbar}}
        <table style="width: 50%; margin: 20px auto auto 65px;">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center;">Feedback: {{feedbackAverage}}%</th>
                </tr>
                <tr>
                <th>Period</th>
                <th style="color: green;">Positive</th>
                <th style="color: grey;">Neutral</th>
                <th style="color: red;">Negative</th>
                </tr>
            </thead>
            <tbody>
                {{#each feedbackStats}}
                <tr>
                    <td>{{@key}}</td>
                    <td>{{this.Positive}}</td>
                    <td>{{this.Neutral}}</td>
                    <td>{{this.Negative}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    <div class="table-container">
        <div class="table-controls">
            <div class="table-header">
                <h2 style="padding-left: 60px;">{{feedbackCount}} Total Feedback</h2>
                <div class="page-size-selector">
                    <label for="pageSize">Feedback per page:</label>
                    <select class="page-size-selector" id="pageSize" onchange="changeLimit(this.value)">
                        <option value="25" {{#if (eq limit 25)}}selected{{/if}}>25 per page</option>
                        <option value="50" {{#if (eq limit 50)}}selected{{/if}}>50 per page</option>
                        <option value="100" {{#if (eq limit 100)}}selected{{/if}}>100 per page</option>
                        <option value="250" {{#if (eq limit 250)}}selected{{/if}}>250 per page</option>
                    </select>

                    <div class="pagination-links">
                        {{#if (gt page 1)}}
                            <a href="?page={{dec page}}&limit={{limit}}">Previous</a>
                        {{/if}}
                        Page {{page}} of {{totalPages}}
                        {{#if (lt page totalPages)}}
                            <a href="?page={{inc page}}&limit={{limit}}">Next</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <table class="orders-orderNumber" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Rating</th>
                    <th>Feedback</th>
                    <th>Buyer ID</th>
                </tr>
            </thead>
            <tbody>
                {{#each feedback as |fb|}}
                <tr>
                    <td>
                        <a href="/admin/order-details?orderNumber={{fb.OrderNumber}}">{{fb.OrderNumber}}</a>
                    </td>
                    <td>{{formatDate fb.OrderDate}}</td>
                    <td>{{fb.Rating}}</td>
                    <td>{{fb.FeedbackText}}</td>
                    <td>{{fb.BuyerUsername}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>