<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div id="spinner" style="display:none;">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <nav>
        <h4 style="font-size:13px">Logo Placeholder</h4>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/dashboard">Messages</a></li>
            <li><a href="/dashboard">Feedback</a></li>
            <li><a href="/dashboard">Payments</a></li>
            <li><a href="/dashboard">Reports</a></li>
        </ul>
    </nav>
    <h4>{{username}} Inventory</h4>
    <div class="inventorySearch" style="display: flex; justify-content: space-between; align-items: center;">
        <form action="/inventory" method="get" style="flex-grow 1">
            <div>
                <label for="searchTerm">Player:</label>
                <input type="text" id="searchTerm" name="searchTerm" class="filter-input fixed-width-dropdown" placeholder="Player Name" value="{{searchTerm}}">
            </div>
            <div>
                <label for="sport">Sport:</label>
                <select id="sport" name="sport" class="filter-input fixed-width-dropdown">
                    <option value="">All Sports</option>
                    {{#each sports}}
                    <option value="{{this}}" {{#if (eq this ../sport)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="dropdown">
                <label for="cardSet">Card Set:</label>
                <input type="text" id="cardSetSearch" placeholder="Search sets..." onkeyup="debouncedSearchCardSets(this.value)" class="filter-input fixed-width-input" />
                <div class="dropdown-content consistent-width-dropdown">
                    <select id="cardSet" name="cardSet" class="filter-input fixed-width-dropdown">
                        <option value="">All Sets</option>
                        {{#each cardSets}}
                        <option value="{{this}}" {{#if (eq this ../cardSet)}}selected{{/if}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div>
                <label for="cardYear">Card Year:</label>
                <select id="cardYear" name="cardYear" class="filter-input fixed-width-dropdown">
                    <option value="">All Years</option>
                    {{#each cardYears}}
                    <option value="{{this}}" {{#if (eq this ../cardYear)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <label for="cardColor">Card Color:</label>
                <select id="cardColor" name="cardColor" class="filter-input fixed-width-dropdown">
                    <option value="">All Colors</option>
                    {{#each cardColors}}
                    <option value="{{this}}" {{#if (eq this ../cardColor)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <label for="cardVariant">Card Variant:</label>
                <select id="cardVariant" name="cardVariant" class="filter-input fixed-width-dropdown">
                    <option value="">All Variants</option>
                    {{#each cardVariants}}
                    <option value="{{this}}" {{#if (eq this ../cardVariant)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <button id="resetButton" type="reset" class="filter-input fixed-width-dropdown" onclick="resetFilters()">Reset</button>
                </div>
                <div>
                    <button type="submit" class="filter-input fixed-width-dropdown">Search</button>
                </div>

            </div>
        </form>
    </div>
<div id="loadingIndicator" style="display: none;">Loading...</div>
<div class="table-container">
    <table>
        <!-- Table Title and Results as Caption -->
        <caption>
            <div class="table-header">
                <h2>Product Catalog</h2>
                <span id="totalItems">{{totalItems}} Results</span>
                <div class="page-size-selector">
                    <label for="pageSize">Items per page:</label>
                    <select class="page-size-selector" id="pageSize" onchange="changePageSize()">
                        <option value="10" {{#if (eq pageSize '10')}}selected{{/if}}>10</option>
                        <option value="25" {{#if (eq pageSize '25')}}selected{{/if}}>25</option>
                        <option value="50" {{#if (eq pageSize '50')}}selected{{/if}}>50</option>
                        <option value="100" {{#if (eq pageSize '100')}}selected{{/if}}>100</option>
                        <option value="250" {{#if (eq pageSize '250')}}selected{{/if}}>250</option>
                        <option value="500" {{#if (eq pageSize '500')}}selected{{/if}}>500</option>
                    </select>

                </div>
            </div>
        </caption>

        <thead>
            <tr>
                <th>Sport</th>
                <th>Image</th>
                <th>Name</th>
                <th>Set</th>
                <th>Year</th>
                <th>Number</th>
                <th>Color</th>
                <th>Variant</th>
                <th style="width:100px;"></th>
            </tr>
        </thead>
        <tbody>
            {{#each cards}}
            <tr class="{{#if this.isInStock}}in-stock{{/if}}">
                <td>{{this.Sport}}</td>
                <td><img src="{{this.CardImage}}" alt="Card Image"></td>
                <td>{{this.CardName}}</td>
                <td>{{this.CardSet}}</td>
                <td>{{this.CardYear}}</td>
                <td>{{this.CardNumber}}</td>
                <td>{{this.CardColor}}</td>
                <td>{{this.CardVariant}}</td>
                <td class="button-cell">
                    <button type="button" onclick="window.location.href='/update-inventory-pricing?cardId={{this.CardID}}'" class="table-button">Add</button>
                </td>
            </tr>            
            {{else}}
            <tr><td colspan="9">No cards found</td></tr>
            {{/each}}
        </tbody>
    </table>


    <nav aria-label="Page navigation" class="pagination-bottom">
        <ul class="pagination">
            {{#if showPrevious}}
            <li class="page-item">
                <a class="page-link" href="?page={{minus currentPage 1}}&searchTerm={{searchTerm}}&cardSet={{cardSet}}&cardYear={{cardYear}}&sport={{sport}}&cardColor={{cardColor}}&cardVariant={{cardVariant}}">
                    Previous
                </a>
            </li>
            {{/if}}
            {{#if showNext}}
            <li class="page-item">
                <a class="page-link" href="?page={{plus currentPage 1}}&searchTerm={{searchTerm}}&cardSet={{cardSet}}&cardYear={{cardYear}}&sport={{sport}}&cardColor={{cardColor}}&cardVariant={{cardVariant}}">
                    Next
                </a>
            </li>
            {{/if}}
        </ul>

    </nav>
</div>

<script>
    // Disables dropdowns
    function disableDropdowns() {
        document.getElementById('sport').disabled = true;
        document.getElementById('cardSet').disabled = true;
        document.getElementById('cardYear').disabled = true;
        document.getElementById('cardVariant').disabled = true;
        document.getElementById('cardColor').disabled = true;
    }

    // Shows loading spinner
    function showSpinner() {
        document.getElementById('spinner').style.display = 'flex';
    }

    // Fetches and updates sports options
    function fetchSports(sport, cardSet, year, cardColor, cardVariant) {
        fetch(`/sports?cardSet=${encodeURIComponent(cardSet)}&year=${encodeURIComponent(year)}&cardColor=${encodeURIComponent(cardColor)}&cardVariant=${encodeURIComponent(cardVariant)}`)
            .then(response => response.json())
            .then(sports => {
                const select = document.getElementById('sport');
                select.innerHTML = '<option value="">All Sports</option>';
                updateDropdown('sport', sports, sport);
            })
            .catch(error => console.error('Error loading sports:', error));
    }

    // Fetches and updates card sets options
    function fetchCardSets(sport, cardSet, year, cardColor, cardVariant) {
        fetch(`/cardsets?sport=${encodeURIComponent(sport)}&year=${encodeURIComponent(year)}&cardColor=${encodeURIComponent(cardColor)}&cardVariant=${encodeURIComponent(cardVariant)}`)
            .then(response => response.json())
            .then(sets => {
                const select = document.getElementById('cardSet');
                select.innerHTML = '<option value="">All Sets</option>';
                updateDropdown('cardSet', sets, cardSet);
            })
            .catch(error => console.error('Error loading card sets:', error));
    }

    // Fetches and updates years options
    function fetchYears(sport, cardSet, year, cardColor, cardVariant) {
        fetch(`/years?sport=${encodeURIComponent(sport)}&cardSet=${encodeURIComponent(cardSet)}&cardColor=${encodeURIComponent(cardColor)}&cardVariant=${encodeURIComponent(cardVariant)}`)
            .then(response => response.json())
            .then(years => {
                const select = document.getElementById('cardYear');
                select.innerHTML = '<option value="">All Years</option>';
                updateDropdown('cardYear', years, year);
            })
            .catch(error => console.error('Error loading years:', error));
    }

    // Fetches and updates card colors options
    function fetchCardColors(sport, cardSet, year, cardColor, cardVariant) {
        fetch(`/cardcolors?sport=${encodeURIComponent(sport)}&cardSet=${encodeURIComponent(cardSet)}&year=${encodeURIComponent(year)}&cardVariant=${encodeURIComponent(cardVariant)}`)
            .then(response => response.json())
            .then(colors => {
                const select = document.getElementById('cardColor');
                select.innerHTML = '<option value="">All Colors</option>';
                updateDropdown('cardColor', colors, cardColor);
            })
            .catch(error => console.error('Error loading card colors:', error));
    }

    // Fetches and updates card variants options
    function fetchCardVariants(sport, cardSet, year, cardColor, cardVariant) {
        fetch(`/cardvariants?sport=${encodeURIComponent(sport)}&cardSet=${encodeURIComponent(cardSet)}&year=${encodeURIComponent(year)}&cardColor=${encodeURIComponent(cardColor)}`)
            .then(response => response.json())
            .then(variants => {
                const select = document.getElementById('cardVariant');
                select.innerHTML = '<option value="">All Variants</option>';
                updateDropdown('cardVariant', variants, cardVariant);
            })
            .catch(error => console.error('Error loading card variants:', error));
    }

    // Updates dropdown options
    function updateDropdown(dropdownId, items, selectedItem) {
        const select = document.getElementById(dropdownId);
        items.forEach(item => {
            if (item && item.trim() !== '') {
                const option = document.createElement('option');
                option.value = item;
                option.textContent = item;
                if (item === selectedItem) {
                    option.selected = true;
                }
                select.appendChild(option);
            }
        });
    }

    // Re-enables dropdowns and hides spinner
    function finalizeLoading() {
        document.getElementById('sport').disabled = false;
        document.getElementById('cardSet').disabled = false;
        document.getElementById('cardYear').disabled = false;
        document.getElementById('cardVariant').disabled = false;
        document.getElementById('cardColor').disabled = false;
        document.getElementById('spinner').style.display = 'none';
    }

    function loadSetsAndYears(caller) {
        disableDropdowns();
        showSpinner();

        const sport = document.getElementById('sport').value;
        const cardSet = document.getElementById('cardSet').value;
        const year = document.getElementById('cardYear').value;
        const cardColor = document.getElementById('cardColor').value;
        const cardVariant = document.getElementById('cardVariant').value;

        Promise.all([
            fetchSports(sport, cardSet, year, cardColor, cardVariant),
            fetchCardSets(sport, cardSet, year, cardColor, cardVariant),
            fetchYears(sport, cardSet, year, cardColor, cardVariant),
            fetchCardColors(sport, cardSet, year, cardColor, cardVariant),
            fetchCardVariants(sport, cardSet, year, cardColor, cardVariant)
        ]).then(() => {
            finalizeLoading();
        }).catch(error => {
            console.error('Error with one of the fetch calls:', error);
            finalizeLoading(); // Consider how to handle partial failures
        });
    }


    /*document.getElementById('sport').addEventListener('change', () => loadSetsAndYears('sport'));
    document.getElementById('cardSet').addEventListener('change', () => loadSetsAndYears('set'));
    document.getElementById('cardYear').addEventListener('change', () => loadSetsAndYears('year'));
    document.getElementById('cardColor').addEventListener('change', () => loadSetsAndYears('cardColor'));
    document.getElementById('cardVariant').addEventListener('change', () => loadSetsAndYears('cardVariant'));
*/
    // Assuming the event listeners are correctly set up as shown in your code snippet:
    document.getElementById('sport').addEventListener('change', loadDataWithFilters);
    document.getElementById('cardSet').addEventListener('change', loadDataWithFilters);
    document.getElementById('cardYear').addEventListener('change', loadDataWithFilters);
    document.getElementById('cardColor').addEventListener('change', loadDataWithFilters);
    document.getElementById('cardVariant').addEventListener('change', loadDataWithFilters);

    // JavaScript function to filter card set options
    function filterCardSets() {
        var input, filter, ul, li, a, i;
        input = document.getElementById('cardSetSearch');
        filter = input.value.toUpperCase();
        var select = document.getElementById("cardSet");
        var options = select.getElementsByTagName('option');
        for (i = 1; i < options.length; i++) { 
            txtValue = options[i].textContent;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                options[i].style.display = "";
            } else {
                options[i].style.display = "none";
            }
        }
    }
    
    // Makes an API call to fetch card sets based on search term and optionally filtered by sport and year
    function searchCardSets(searchTerm) {
        const sport = document.getElementById('sport').value;
        const year = document.getElementById('cardYear').value;
        const cardColor = document.getElementById('cardColor').value;
        const cardVariant = document.getElementById('cardVariant').value;

        // Starts constructing the URL for the API call and appends the search term as a query
        let url = `/search-card-sets?term=${encodeURIComponent(searchTerm)}`;
        if (sport) {
            url += `&sport=${encodeURIComponent(sport)}`;
        }
        if (year) {
            url += `&year=${encodeURIComponent(year)}`;
        }
        if (cardColor) {
            url += `&cardColor=${encodeURIComponent(cardColor)}`;
        }
        if (cardVariant) {
            url += `&cardVariant=${encodeURIComponent(cardVariant)}`;
        }
        // Sends a request to the server at the constructed URL
        fetch(url)
            // Processes the response by converting it to JSON
            .then(response => response.json())
            // Takes the data (array of card sets) and calls the populateDropdown function to update the dropdown with the values
            .then(sets => populateDropdown(sets))
            .catch(error => console.error('Error:', error));
    }

    // This function populates the dropdown with the results from the set search 
    function populateDropdown(sets) {
        const setSelect = document.getElementById('cardSet');
        setSelect.innerHTML = '<option value="">All Sets</option>'; 
        sets.forEach(set => {
            const option = document.createElement('option');
            option.value = set;
            option.textContent = set;
            setSelect.appendChild(option);
        });
    }

    // The debounce function
    function debounce(callback, delay) {
        let timeout;
        // Returns a new function that can take any number of arguments
        return (...args) => {
            // Clears any existing timeout associated with the timeout variable
            clearTimeout(timeout);
            // Sets a new timeout that will execute the function after the specified delay 
            timeout = setTimeout(() => {
                // The apply method allows us to invoke callback with a specific 'this' value and 'args' array
                callback.apply(this, args);
            }, delay);
        };
    }

    // Debounce function to limit the number of searches during typing
    var debouncedSearchCardSets = debounce(function(searchTerm) {
        searchCardSets(searchTerm);
    }, 400);

    // Attach the debounced function to the keyup event
    document.getElementById('cardSetSearch').addEventListener('keyup', function(e) {
        debouncedSearchCardSets(e.target.value);
    });
    document.getElementById('searchTerm').addEventListener('input', function() {
        debounce(loadDataWithFilters, 400)();
    });


    function resetFilters() {
        // Clear the player search term
        document.getElementById('searchTerm').value = '';

        // Reset dropdowns to their default option
        document.getElementById('sport').selectedIndex = 0;
        document.getElementById('cardSet').selectedIndex = 0;
        document.getElementById('cardYear').selectedIndex = 0;
        document.getElementById('cardColor').selectedIndex = 0;
        document.getElementById('cardVariant').selectedIndex = 0;
        

        // If you need to fetch initial data for sports and years dropdowns, call the loadSetsAndYears function
        // with null or a proper identifier if required by your implementation
        loadSetsAndYears(null);
    }
    document.getElementById('resetButton').addEventListener('click', resetFilters);

    function changePageSize() {
        var pageSize = document.getElementById('pageSize').value;
        // Store the selected page size in local storage to keep it selected
        localStorage.setItem('pageSize', pageSize);
        // Perform an AJAX request to fetch data with the new page size without reloading the page
        loadDataWithFilters();
    }

    let isLoadingData = false;

    function loadDataWithFilters() {
        if (isLoadingData) return;
        isLoadingData = true;
        showSpinner();

        // Collect filter and search parameters
        const sport = document.getElementById('sport').value;
        const cardSet = document.getElementById('cardSet').value;
        const cardYear = document.getElementById('cardYear').value;
        const cardColor = document.getElementById('cardColor').value;
        const cardVariant = document.getElementById('cardVariant').value;
        const pageSize = localStorage.getItem('pageSize') || '25';
        const page = new URLSearchParams(window.location.search).get('page') || 1;
        const searchTerm = document.getElementById('searchTerm').value; // Assuming this is your player name search input

        let url = `/inventory?page=${page}&pageSize=${pageSize}&searchTerm=${encodeURIComponent(searchTerm)}&sport=${encodeURIComponent(sport)}&cardSet=${encodeURIComponent(cardSet)}&cardYear=${encodeURIComponent(cardYear)}&cardColor=${encodeURIComponent(cardColor)}&cardVariant=${encodeURIComponent(cardVariant)}`;

        fetch(url, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            updateTableAndTotalItemsWithData(data.cards, data.totalItems);
        })
        .catch(error => {
            console.error('Error loading data:', error);
        })
        .finally(() => {
            document.getElementById('spinner').style.display = 'none';
            isLoadingData = false;
        });
    }

    // On page load, set the page size dropdown based on the stored value
    document.addEventListener('DOMContentLoaded', function() {
        const savedPageSize = localStorage.getItem('pageSize');
        if(savedPageSize) {
            document.getElementById('pageSize').value = savedPageSize;
        }
        // Optionally, load data with filters when the page loads if you're implementing the entire page fetch via AJAX
        loadDataWithFilters();
    });
    function updateTableAndTotalItemsWithData(cards, totalItems) {
        const tableBody = document.querySelector('.table-container table tbody');
        tableBody.innerHTML = ''; // Clear existing rows

        cards.forEach(card => {
            const row = document.createElement('tr');
            // Ensure the 'in-stock' class is applied if card.isInStock is true
            if (card.isInStock) {
                row.classList.add('in-stock');
            }
            row.innerHTML = `
                <td>${card.Sport}</td>
                <td><img src="${card.CardImage ? card.CardImage : ''}" alt="Card Image"></td>
                <td>${card.CardName}</td>
                <td>${card.CardSet}</td>
                <td>${card.CardYear}</td>
                <td>${card.CardNumber}</td>
                <td>${card.CardColor}</td>
                <td>${card.CardVariant}</td>
                <td class="button-cell">
                    <button type="button" onclick="window.location.href='/update-inventory-pricing?cardId=${card.CardID}'" class="table-button">Add</button>
                </td>
            `;
            tableBody.appendChild(row);
        });

        // Update total items count
        document.getElementById('totalItems').textContent = `${totalItems} Results`;
    }

</script>

</body>