<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4 style="font-size:13px">Logo Placeholder</h4>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/quick-list-inventory">Quick-List</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/dashboard">Feedback</a></li>
            <li><a href="/dashboard">Payments</a></li>
            <li><a href="/dashboard">Reports</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <!-- Order Summary -->
<div class="order-container">
    <div class="order-detail-box">
        <h4>Order Info</h4>
        <div class="info-row">
            <div class="info-label">Order Number:</div>
            <div class="info-data">{{order.OrderNumber}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Status:</div>
            <div class="info-data">{{shipping.ShipmentStatus}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Order Date:</div>
            <div class="info-data">{{formatDate order.OrderDate}}</div>
        </div>
    </div>

    <div class="shipping-box">
        <h4>Shipping Address</h4>
        <div class="info-row">
            <div>
                {{order.Username}}<br>
                {{address.Street}}<br>
                {{address.City}}, {{address.State}} {{address.ZipCode}}<br>
            </div>
        </div>
    </div>
    <div class="order-detail-box">
        <h4>Payment Details</h4>
        <div class="info-row">
            <div class="info-label">Product Amount:</div>
            <div class="info-data">${{order.SalePrice}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Shipping Cost:</div>
            <div class="info-data">${{order.ShippingPrice}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Order Amount:</div>
            <div class="info-data" style="font-weight: bold;">${{order.OrderAmount}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Fee Amount:</div>
            <div class="info-data">${{order.FeeAmount}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Net Amount:</div>
            <div class="info-data">${{order.NetAmount}}</div>
        </div>
    </div>

    <div class="order-detail-box">
        <h4>Shipping Info</h4>
        <div class="info-row">
            <div class="info-label">Shipping Method:</div>
            <div class="info-data">{{displayShippingMethod shipping.ShippedWithTracking}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Tracking Number:</div>
            <div class="info-data"><a href="{{shipping.CarrierTrackingURL}}" target="_blank">{{shipping.TrackingNumber}}</a></div>
        </div>
        <div class="info-row">
            <div class="info-label">Shipment Date:</div>
            <div class="info-data">{{formatDate shipping.ShipmentDate}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Estimated Delivery Date:</div>
            <div class="info-data">{{formatDate shipping.EstimatedDeliveryDate}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Status:</div>
            <div class="info-data"><span class="{{statusColor shipping.ShipmentStatus}}">{{shipping.ShipmentStatus}}</span></div>
        </div>
    </div>

    <div class="shipping-box">
        <h4>Feedback</h4>
        {{#if feedback}}
            <div class="info-row">
                <div class="info-label">Rating:</div>
                <div class="info-data">{{feedback.Rating}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Feedback:</div>
                <div class="info-data">{{feedback.FeedbackText}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Date:</div>
                <div class="info-data">{{formatDate feedback.FeedbackDate}}</div>
            </div>
        {{else}}
            <div class="info-data">The buyer has not left feedback</div>
        {{/if}}
    </div>

    <div class="refund-cancel-box">
        <h4>Refund or Cancel</h4>
        <div style="text-align: center;">
            <button style="width: 50%; margin-top: 8px; margin-bottom: 8px;" type="button" onclick="window.location.href='/order-details?ordernumber={{OrderNumber}}'" class="table-button">Refund</button>
            <button style="width: 50%;" type="button" onclick="window.location.href='/order-details?ordernumber={{OrderNumber}}'" class="table-button">Cancel</button>
        </div>
    </div>
</div>


    <!-- Itemized List -->
    <table >
        <thead>
            <tr>
                <th>Card Details</th>
                <th>Quantity</th>
                <th>Price per Item</th>
            </tr>
        </thead>
        <tbody >
            {{#each items}}
            <tr>
                <td class="card-details">{{CardDetails}}</td>
                <td>{{Quantity}}</td>
                <td>${{Price}}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <th colspan="2"> Total Price</th>
            <th>${{order.SalePrice}}</th>
        </tfoot>
    </table>

    <!-- Add more content or navigation as needed -->
</body>
</html>
