<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Order Details</title>
</head>
<body>
    {{> navbar}}
    <!-- Order Summary -->
<div class="order-container">
    <div class="order-detail-box">
        <h4>Order Info</h4>
        <div class="info-row">
            <div class="info-label">Packing Slip:</div>
            <div class="info-data">
                <button class="table-button" onclick="downloadPackingSlip('{{order.OrderNumber}}')">Download Packing Slip</button>
            </div>
        </div>
        <div class="info-row">
            <div class="info-label">Order Number:</div>
            <div class="info-data">{{order.OrderNumber}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Order Date:</div>
            <div class="info-data">{{formatDate order.OrderDate}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Contact Buyer:</div>
            <div class="info-data">
                <button class="table-button" id="contactBuyerBtn">Contact Buyer</button>
            </div>
        </div>

    </div>

    <div class="shipping-box">
        <h4>Shipping Address</h4>
        <div class="info-row">
            <div>
                {{address.FirstName}}<br>
                {{address.Street}}<br>
                {{address.City}}, {{address.State}} {{address.ZipCode}}<br>
            </div>
        </div>
    </div>
    <div class="order-detail-box">
        <h4>Payment Details</h4>
        <div class="info-row">
            <div class="info-label">Product Amount:</div>
            <div class="info-data">${{order.SalePrice}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Shipping Cost:</div>
            <div class="info-data">${{order.ShippingPrice}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Order Amount:</div>
            <div class="info-data" style="font-weight: bold;">${{order.OrderAmount}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Fee Amount:</div>
            <div class="info-data">${{order.FeeAmount}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Net Amount:</div>
            <div class="info-data">${{order.NetAmount}}</div>
        </div>
    </div>

    <div class="order-detail-box">
        <h4>Shipping Info</h4>
        <div class="info-row" id="trackingNumberInputRow">
            <div class="info-label">Tracking Number</div>
            <div class="info-data">
                <input type="text" id="trackingNumberInput" placeholder="Tracking Number" value="{{shipping.TrackingNumber}}">
                <button class="table-button" id="submitTrackingBtn">Save</button>
            </div>
        </div>


        <div class="info-row">
            <div class="info-label">Shipment Date:</div>
            <div class="info-data">{{formatDate shipping.ShipmentDate}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Estimated Delivery Date:</div>
            <div class="info-data">{{formatDate shipping.EstimatedDeliveryDate}}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Status:</div>
            <div class="info-data"><span class="{{statusColor shipping.ShipmentStatus}}">{{shipping.ShipmentStatus}}</span></div>
        </div>
    </div>

    <div class="shipping-box">
        <h4>Feedback</h4>
        {{#if feedback}}
            <div class="info-row">
                <div class="info-label">Rating:</div>
                <div class="info-data">{{feedback.Rating}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Feedback:</div>
                <div class="info-data">{{feedback.FeedbackText}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Date:</div>
                <div class="info-data">{{formatDate feedback.FeedbackDate}}</div>
            </div>
        {{else}}
            <div class="info-data">The buyer has not left feedback</div>
        {{/if}}
    </div>

    <div class="refund-cancel-box">
        <h4>Refunds</h4>
        <div style="text-align: center;">
            <button style="width: 50%; margin-top: 8px; margin-bottom: 8px;" type="button" onclick="window.location.href='/admin/order-details?ordernumber={{OrderNumber}}'" class="table-button">Partial Refund</button>
            <button style="width: 50%;" type="button" onclick="window.location.href='/admin/order-details?ordernumber={{OrderNumber}}'" class="table-button">Full Refund</button>
        </div>
    </div>
</div>
<!-- Itemized List -->
    <table>
        <thead>
            <tr>
                <th>Card Details</th>
                <th>Quantity</th>
                <th>Price per Item</th>
            </tr>
        </thead>
        <tbody >
            {{#each items}}
            <tr>
                <td class="card-details">{{CardDetails}}</td>
                <td>{{Quantity}}</td>
                <td>${{Price}}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <th colspan="2"> Total Price</th>
            <th>${{order.SalePrice}}</th>
        </tfoot>
    </table>

</body>
<script>
    function detectCarrierAndGenerateTrackingInfo(trackingNumber) {
        const uspsRegex = /^((94|93|92|94|95)\d{20}|(70|14|23|03)\d{14}|(M0|82)\d{8})$/;
        const upsRegex = /^1Z[0-9A-Z]{16}$/;
        const fedExRegex = /^[0-9]{12,14}$/;

        let trackingInfo = {
            carrier: "",
            url: ""
        };

        if (uspsRegex.test(trackingNumber)) {
            trackingInfo.carrier = "USPS";
            trackingInfo.url = `https://tools.usps.com/go/TrackConfirmAction.action?tLabels=${trackingNumber}`;
        } else if (upsRegex.test(trackingNumber)) {
            trackingInfo.carrier = "UPS";
            trackingInfo.url = `https://www.ups.com/track?tracknum=${trackingNumber}`;
        } else if (fedExRegex.test(trackingNumber)) {
            trackingInfo.carrier = "FedEx";
            trackingInfo.url = `https://www.fedex.com/fedextrack/?tracknumbers=${trackingNumber}`;
        } else {
            console.log("Carrier not detected or unsupported tracking number format.");
        }

        return trackingInfo;
    }

    document.addEventListener('DOMContentLoaded', () => {
        const shippingDataElement = document.getElementById('shipping-data');
        if (shippingDataElement) {
            const shipping = JSON.parse(shippingDataElement.textContent);

            if (shipping && shipping.TrackingNumber) {
                document.getElementById('trackingNumberInput').value = shipping.TrackingNumber;
                document.getElementById('trackingNumberInputRow').style.display = 'block';
            } else {
                document.getElementById('trackingNumberInputRow').style.display = 'none'; // Hide if no tracking number is set
            }
        }
    });

    document.getElementById('submitTrackingBtn').addEventListener('click', function() {
        const trackingNumber = document.getElementById('trackingNumberInput').value.trim();
        if (trackingNumber === '') {
            alert('Please enter a tracking number.');
            return;
        }
        updateShippingSelection(true, trackingNumber);
    });
    function updateOrder(data) {
        fetch('/admin/update-shipping-details', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => console.log('Success:', data))
        .catch((error) => console.error('Error:', error));
    }

    function updateShippingSelection(shippedWithTracking, trackingNumber = '') {
        const data = {
            orderNumber: window.location.search.split('=')[1],
            ShippedWithTracking: shippedWithTracking,
            TrackingNumber: trackingNumber,
        };

        updateOrder(data);

        if (shippedWithTracking) {
            document.getElementById('shipWithoutTrackingBtn').style.backgroundColor = "";
            document.getElementById('shipWithoutTrackingBtn').disabled = false;
        } else {
            document.getElementById('shipWithoutTrackingBtn').style.backgroundColor = "#0056b3";
            document.getElementById('shipWithoutTrackingBtn').disabled = true;
            document.getElementById('trackingNumberInput').value = '';
        }
    }


    document.getElementById('contactBuyerBtn').addEventListener('click', function() {
        const orderId = '{{order.OrderNumber}}'; // Make sure you have the order ID available
        const buyerId = '{{order.BuyerID}}'; // Assume you have buyer ID
        const sellerId = '{{user.id}}'; // Assume you have seller ID

        fetch('/admin/create-or-find-conversation', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ orderId, buyerId, sellerId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.conversationId) {
                window.location.href = `/admin/message-details/${data.conversationId}`; // Redirect to the conversation details page
            } else {
                alert('Failed to create or find conversation');
            }
        })
        .catch(error => console.error('Error:', error));
    });
    function downloadPackingSlip(orderNumber) {
        const url = `/admin/download-order?orderNumber=${orderNumber}`;
        window.location.href = url;
    }


</script>
</html>
