<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div id="spinner" style="display:none;">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    {{> navbar}}
    <div class="table-container">
        <div class="table-controls">
            <div class="table-header">
            <h2 style="padding-left: 60px;">Total Orders {{totalOrders}}</h2>
                <div class="page-size-selector">
                    <label for="pageSize">Orders per page:</label>
                    <select class="page-size-selector" id="pageSize" onchange="changeLimit(this.value)">
                        <option value="25" {{#if (eq limit 25)}}selected{{/if}}>25 per page</option>
                        <option value="50" {{#if (eq limit 50)}}selected{{/if}}>50 per page</option>
                        <option value="100" {{#if (eq limit 100)}}selected{{/if}}>100 per page</option>
                        <option value="250" {{#if (eq limit 250)}}selected{{/if}}>250 per page</option>
                    </select>

                    <div class="pagination-links">
                        {{#if (gt page 1)}}
                            <a href="?page={{dec page}}&limit={{limit}}">Previous</a>
                        {{/if}}
                        Page {{page}} of {{totalPages}}
                        {{#if (lt page totalPages)}}
                            <a href="?page={{inc page}}&limit={{limit}}">Next</a>
                        {{/if}}
                    </div>
                </div>
        </div>
    </div>
    <table style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Buyer Name</th>
                <th>Sale Price</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="orders-orderNumber">
            {{#each orders}}
                <tr class="{{#if (eq ShipmentStatus 'Awaiting shipment')}}in-stock{{/if}}">
                    <td >
                        <a href="#" onclick="window.location.href='/admin/order-details?orderNumber=' + encodeURIComponent('{{OrderNumber}}'); return false;" class="{{#if (eq ShipmentStatus 'Awaiting shipment')}}in-stock{{/if}}">{{OrderNumber}}</a>
                    </td>
                    <td>{{Username}}</td>
                    <td>${{formatCurrency SalePrice}}</td>
                    <td>{{formatDate OrderDate}}</td>
                    <td>{{ShipmentStatus}}</td>
                    <td class="button-cell">
                        <button type="button" onclick="window.location.href='/admin/order-details?orderNumber=' + encodeURIComponent('{{this.OrderNumber}}')" class="table-button">Manage</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</body>
<script>
    function changeLimit(limit) {
        window.location.href = `?page=1&limit=${limit}`;
    }
</script>
</html>
