<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div id="spinner" style="display:none;">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    {{> navbar}}
    <h2>Payments Overview</h2>
<table>
    <thead>
        <tr>
            <th>Weeks Ago</th>
            <th>Total Sale Price</th>
            <th>Total Shipping Price</th>
            <th>Total Order Amount</th>
            <th>Total Fee Amount</th>
            <th>Total Net Amount</th>
        </tr>
    </thead>
    <tbody>
        {{#each paymentData}}
        <tr>
            <td>{{WeekStartDate}} - {{WeekEndDate}}</td>
            <td>${{TotalSalePrice}}</td>
            <td>${{TotalShippingPrice}}</td>
            <td>${{TotalOrderAmount}}</td>
            <td>${{TotalFeeAmount}}</td>
            <td>${{TotalNetAmount}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
