<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Payments</title>
</head>
<body>
    <div id="spinner" style="display:none;">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    {{> navbar}}
    <h2>Payments Overview</h2>
<table>
    <thead>
        <tr>
            <th>Weeks Ago</th>
            <th>Total Sale Price</th>
            <th>Total Shipping Price</th>
            <th>Total Order Amount</th>
            <th>Total Fee Amount</th>
            <th>Total Net Amount</th>
        </tr>
    </thead>
    <tbody>
        {{#each paymentData}}
        <tr>
            <td>{{WeekStartDate}} - {{WeekEndDate}}</td>
            <td>${{TotalSalePrice}}</td>
            <td>${{TotalShippingPrice}}</td>
            <td>${{TotalOrderAmount}}</td>
            <td>${{TotalFeeAmount}}</td>
            <td>${{TotalNetAmount}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
