<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Complete Seller Profile</title>
</head>
<body>
    <nav>
        <h4>GemTCG</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        {{#if message}}
            <div class="alert alert-danger mt-4" role="alert">
                {{message}}
            </div>
        {{/if}}
        <h2>Complete Your Seller Profile</h2>
        <form action="/seller-info" method="POST">
            <input type="hidden" name="email" id="emailField" value="{{formData.email}}">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" value="{{formData.firstName}}" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" value="{{formData.lastName}}" required>
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" name="street" placeholder="Street address" value="{{formData.street}}" required>
            </div>
            <div class="form-group">
                <label for="street2">Street 2</label>
                <input type="text" class="form-control" id="street2" name="street2" placeholder="Apt, Suite, Unit etc. (optional)" value="{{formData.street2}}">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="City" value="{{formData.city}}" required>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <select class="form-control" id="state" name="state"required>
                    <option value="">Select a State</option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                </select>
            </div>
            <div class="form-group">
                <label for="zip">ZIP Code</label>
                <input type="text" class="form-control" id="zip" name="zip" placeholder="ZIP code" value="{{formData.zip}}" required>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Country" value="{{formData.country}}" required>
            </div>
            <div class="form-group">
                <label for="storeName">Store Name</label>
                <input type="text" class="form-control" id="storeName" name="storeName" placeholder="Enter store name" value="{{formData.storeName}}" required>
            </div>
            <div class="container mt-4">
            <h2>Bank Information</h2>
            <div class="form-group">
                <label for="accountType">Account Type</label>
                <select class="form-control" id="accountType" name="accountType" required>
                    <option value="checking">Checking</option>
                    <option value="savings">Savings</option>
                </select>
            </div>
            <div class="form-group">
                <label for="accountName">Account Name</label>
                <input type="text" class="form-control" id="accountName" name="accountName" placeholder="Name on the account" value="{{formData.accountName}}" required>
            </div>
            <div class="form-group">
                <label for="routingNumber">Routing Number</label>
                <input type="text" class="form-control" id="routingNumber" name="routingNumber" placeholder="Routing number" value="{{formData.routingNumber}}" required>
            </div>
            <div class="form-group">
                <label for="confirmRoutingNumber">Confirm Routing Number</label>
                <input type="text" class="form-control" id="confirmRoutingNumber" name="confirmRoutingNumber" placeholder="Confirm routing number" required>
            </div>
            <div class="form-group">
                <label for="accountNumber">Account Number</label>
                <input type="text" class="form-control" id="accountNumber" name="accountNumber" placeholder="Account number" value="{{formData.accountNumber}}" required>
            </div>
            <div class="form-group">
                <label for="confirmAccountNumber">Confirm Account Number</label>
                <input type="text" class="form-control" id="confirmAccountNumber" name="confirmAccountNumber" placeholder="Confirm account number" required>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="termsOfService" name="termsOfService" required>
                <label class="form-check-label" for="termsOfService">
                    I agree to the <a href="#" style="text-decoration: none;">Terms of Service</a>.
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    document.getElementById('storeName').addEventListener('blur', function() {
        const storeName = this.value;
        fetch('/check-store-name', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ storeName })
        })
        .then(response => response.json())
        .then(data => {
            if (data.exists) {
                alert(data.message); // Or display the message in a more subtle way
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const email = urlParams.get('email');
        document.getElementById('emailField').value = email;
    });
</script>

</body>
</html>