<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4 style="font-size:13px">Logo Placeholder</h4>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/dashboard">Feedback</a></li>
            <li><a href="/dashboard">Payments</a></li>
            <li><a href="/dashboard">Reports</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
<form action="/submit-inventory" method="post">
    <!-- Card Details -->
    <div class="flex-container">
        <div class="product-info">
            <h2>Product Info</h2>
            {{#if cardDetails.CardImage}}
            <img src="{{cardDetails.CardImage}}" alt="Card Image" class="card-image">
            {{/if}}
            <p>Card Name: {{cardDetails.CardName}}</p>
            <p>Card Set: {{cardDetails.CardSet}}</p>
            <p>Card Year: {{cardDetails.CardYear}}</p>
            <p>Card Number: {{cardDetails.CardNumber}}</p>
            <p>Card Color: {{cardDetails.CardColor}}</p>
            <p>Card Variant: {{cardDetails.CardVariant}}</p>
        </div>
        <!-- Grades and Market Prices Chart -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Market Price</th>
                        <th>Your Sale Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each grades}}
                        <tr>
                            <td>{{this.gradeValue}}</td>
                            <td>{{lookup ../marketPrices this}}</td>
                            <td>
                                <input type="hidden" name="gradeIds[]" value="{{this.gradeId}}">
                                <input type="text" name="salePrices[]" value="{{#if ../existingInventory}}{{#if (eq this.gradeId ../existingInventory.GradeID)}}{{../existingInventory.SalePrice}}{{/if}}{{/if}}">
                            </td>
                            <td>
                                <input type="number" name="quantities[]" value="{{#if ../existingInventory}}{{#if (eq this.gradeId ../existingInventory.GradeID)}}{{../existingInventory.Quantity}}{{/if}}{{/if}}">
                            </td>
                        </tr>
                        {{/each}}

                </tbody>
            </table>
        </div>
    </div>
    <!-- Hidden Inputs for Card ID and Listing ID -->
    <input type="hidden" name="cardId" value="{{cardDetails.CardID}}">
    <input type="hidden" name="listingId" value="{{existingInventory.ListingID}}">
    <div class="button-container">
        <button style="border-radius: 4px;" type="submit" name="clearInventory" value="true" class="clear-inventory-button">Clear Inventory</button>
        <button style="border-radius: 4px;" type="submit">{{#if existingInventory.ListingID}}Update{{else}}Add{{/if}} Inventory</button>
    </div>
</form>

</body>

</html>
