{{> articlesNavbar}}
<h1>Articles</h1>

{{#if articles.length}}
  {{#each articles}}
    <article>
      <h2><a href="/articles/{{this.Slug}}">{{this.Title}}</a></h2>
      <p>{{{slice this.Content limit=200}}}...</p>
      <p>{{formatDateNoTime this.PublishedDate}}</p>
    </article>
  {{/each}}
{{else}}
  <p>No articles found.</p>
{{/if}}

