{{> articlesNavbar}}
<a href="/articles" class="back-to-articles-link">Back to articles</a>
<article class="individual-article">
    <h1 class="individual-title">{{article.Title}}</h1>
    <p class="individual-caption">{{article.Caption}}</p>
    <p class="individual-date">{{formatDateNoTime article.PublishedDate}}</p>
    <img src="{{article.CoverImage}}" alt="Cover Image" class="individual-cover-image">
    <div class="individual-content">{{{article.Content}}}</div>
</article>


